{% extends "base.html" %}
{% block title %}My Favorite DMM Tutors{% endblock %}

{% block content %}

<br>
<p>Hello You have logged in as {{ email }}</p>

<form action="" method="post">
  <div class="form-row align-items-center">
    <div class="col-sm-3 my-1">
      <label class="sr-only" for="inlineFormInputName">Name</label>
      <input type="text" name="tutorID" class="form-control" id="inlineFormInputName" placeholder="Tutor ID">
    </div>

    <div class="col-auto my-1">
      <button type="submit" name="add" class="btn btn-primary">Add</button>
    </div>
    <small id="emailHelp" class="form-text text-muted">
      Enter your favorite tutor's ID.
      "tutor ID" is the number part of the tutor's web address.
      In the following case, tutorID is 12345. https://eikaiwa.dmm.com/teacher/index/12345/
    </small>
  </div>
</form>
<br>


<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Tutor name</th>
      <th scope="col">Tutor's slots</th>
      <th scope="col">Tutor's link to DMM</th>
      <th scope="col">Tutor's link to Engoo</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>

  {% for tutor in tutors: %}
    <tr>
      <td>{{ tutor["tutorName"] }}</td>
      <td>{{ tutor["slots"] }}</td>
      <th scope="row"><a href="{{ 'https://eikaiwa.dmm.com/teacher/index/' ~ tutor['tutorID'] }}">DMM</a></th>
      <th scope="row"><a href="{{ 'https://engoo.com/tutors//' ~ tutor['tutorID'] }}">Engoo</a></th>
      <td>
        <form action="" method="post">
          <input hidden type="text" name="tutorID" value="{{ tutor['tutorID'] }}">
          <button name="delete" type="submit" value="" class="btn btn-danger btm-sm">Delete</button>
        </form>
      </td>
    </tr>
  {% endfor %}

  </tbody>
</table>


{% endblock %}